[submodule "LocalPackages/PrefabGenerator"]
	path = LocalPackages/PrefabGenerator
	url = https://github.com/VeyronSakai/PrefabGenerator.git
[submodule "LocalPackages/AnimationUtilities"]
	path = LocalPackages/AnimationUtilities
	url = https://github.com/VeyronSakai/AnimationUtilities.git
[submodule "LocalPackages/UniPresentation"]
	path = LocalPackages/UniPresentation
	url = https://github.com/VeyronSakai/UniPresentation.git
